# Created by https://www.toptal.com/developers/gitignore/api/composer,symfony
# Edit at https://www.toptal.com/developers/gitignore?templates=composer,symfony

### Composer ###
composer.phar
/vendor/

# env files
.env
.env.local

# Composer PHAR
/composer.phar

# Personal data
/public/CV
/public/img/misc
/public/lang